
@{
    ViewBag.Title = "JSTest";
}
<script>
    var click_event = function () {
        $("firstDiv").addClass('red');
    };

    var second_button_click_event = function () {

    };
</script>
<h2>JSTest</h2>

<div class="firstDiv"></div>

<a href="#" >Sample Link</a>

<button onclick="click_event" value="First Button"/>
<button onclick="second_button_click_event" value="Second Button" />
