@{
    ViewBag.Title = "Remove It";
}

<div class="row" style="margin-top: 20px;">
    <div class="col-lg-3 col-md-offset-2 form-group">
        <input class="form-control" type="text" placeholder="Type the TODO Text" />
    </div>
    <input class="col-lg-1 btn btn-success" type="button" value="Save" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Completed</th>
                <th>TODO Task</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" /></td>
                <td>First Task</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Second Task</td>
            </tr>
        </tbody>
    </table>
</div>