@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>Logging Service: @ViewBag.LoggingServiceMessage</h1>
<h1>Reporting Service: @ViewBag.ReportingServiceMessage</h1>
<h1>Database Service: @ViewBag.DatabaseServiceMessage</h1>
